<a href="https://colab.research.google.com/github/owend23/ML/blob/main/machine_learning_linear_regression_student_grades.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle
import matplotlib.pyplot as plt
import pickle
from matplotlib import style

In [ ]:
data = pd.read_csv('student/student-mat.csv', sep=';')
data = data[["G1", "G2", "G3", "studytime", "failures", "absences"]]

In [ ]:
data.head()

   G1  G2  G3  studytime  failures  absences
0   5   6   6          2         0         6
1   5   5   6          2         0         4
2   7   8  10          2         3        10
3  15  14  15          3         0         2
4   6  10  10          2         0         4

In [ ]:
predict = "G3"

In [ ]:
X = np.array(data.drop([predict], 1))
y = np.array(data[predict])

In [ ]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(X, y, test_size=0.1)

In [ ]:
# Code the best fit line
linear = linear_model.LinearRegression()

linear.fit(x_train, y_train)

acc = linear.score(x_test, y_test)
# accuracy score
print(acc)

0.832709277439374

In [ ]:
with open('student_model.pickle', 'wb') as f:
  pickle.dump(linear, f)

pickle_in = open("student_model.pickle", "rb")
linear = pickle.load(pickle_in)

In [ ]:
# m coefficients from y = mx + b
print("Co: ", linear.coef_)
print("Linear: ", linear.intercept_)

Co:  [ 0.16796498  0.96543449 -0.18362794 -0.29109304  0.03401863]
Linear:  -1.4925864514317588

In [ ]:
# predict outcomes
predictions = linear.predict(x_test)

In [ ]:
for x in range(len(predictions)):
  print(predictions[x], x_test[x], y_test[x])

8.444936931870352 [8 9 2 0 8] 10
12.690722805406057 [13 13  3  0  0] 13
9.87811955964541 [12 10  2  0  2] 11
4.1792317600597455 [6 5 2 0 6] 6
8.796529851558034 [9 9 1 0 8] 10
12.283474544457262 [10 13  2  1  6] 13
5.850898157369701 [7 7 2 1 2] 7
10.60755181099543 [11 11  2  0  0] 10
13.85544819731009 [12 14  1  0  0] 15
8.14146197265108 [10  9  4  0  0] 0
8.461164431043047 [10  9  3  0  4] 9
15.64930095412626 [16 15  2  0 10] 15
18.52781329055428 [18 18  3  0  5] 19
11.234339834715275 [11 12  3  1  4] 11
7.180283819927299 [ 8  8  4  0 10] 8
11.503442800629577 [12 11  1  0 16] 11
6.506295597744437 [ 7  8  2  3 10] 10
10.643698608443023 [10 11  2  0  6] 11
10.412517244118936 [10 11  4  0 10] 11
8.13277171529349 [ 9  9  2  2 11] 9
15.377151919153029 [16 15  2  0  2] 15
10.775516789777761 [12 11  2  0  0] 12
6.9442815824016595 [7 8 4 0 8] 8
4.7099613089190075 [7 6 1 2 0] 0
8.411540230076431 [ 8  8  1  0 30] 8
11.953753173263337 [15 12  2  1  0] 12
13.498092700972323 [14 13  1  0  8] 13
17.04069273513267 [17 17  4  0  0] 18
16.426851165944694 [18 16  3  0  0] 16
7.779285603111761 [11  8  2  0  2] 8
13.05797868721676 [13 13  1  0  0] 12
12.18319346048492 [12 12  2  0 13] 13
14.311789710238347 [15 14  2  0  4] 14
20.03059680809891 [18 19  1  0 10] 19
13.52221094487104 [12 14  3  0  1] 15
-0.6684245196431212 [6 0 1 0 0] 0
12.362565065238394 [14 12  1  0  3] 12
14.02341317609242 [13 14  1  0  0] 13
8.563220319158008 [10  9  3  0  7] 9
7.275390666764768 [8 8 2 0 2] 8